table {
    border-collapse: collapse;
    width: 100%;
}
thead > tr{
    background-color: #dddddd;
}

td, th {
    border: 1px solid #ececec;
    border-right-style: none;
    border-left-style: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ececec;
}
