@import "variables.css";
@import "table.css";
@import "button.css";
@import "theme.css";
@import "nav.css";

/* ========================
        DIRECTIVES
==========================*/

body{
    color: #1b1b1b;
    font-family: Tahoma, sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.container{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1rem;
}
a, a:hover{
    color: #1b1b1b;
   text-decoration: none;
}

