/*=========================
         COLORS
=========================*/

.primary {
    color: #1B1B1B;
}
.secondary{
    color: #dddddd;
}
.danger {
    color: #dc0d0d;
}

/*=========================
        BACKGROUNDS
=========================*/
.bg-primary {
    background-color: #1B1B1B;
}
.bg-secondary{
    background-color: #dddddd;
}
.bg-danger{
    background-color: #dc0d0d;
    color: white;
}
